html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 14px;
  /* 16px */
  line-height: 1.5;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container::after, .menu-list::after {
  content: '';
  display: block;
  clear: both;
}

.a11y-hidden, legend {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
}

h1, h2, h3 {
  margin: 0;
}

button {
  padding: 0;
}

.grid {
  background: linear-gradient(180deg, transparent 20px, red 20px);
  background-size: 1px 21px;
}

.container {
  width: 100%;
  height: 100vh;
}

.header-wrapper {
  text-align: center;
  height: 63px;
  background: #505258;
}

.menu-list {
  display: inline-block;
}

.menu-list-item {
  float: left;
}

.menu-list-item a {
  font-size: 13px;
  display: block;
  width: 84px;
  height: 63px;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.menu-list-item a i {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-list-item a i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-list-item a:hover > i {
  transform: scale(1.2);
}

body {
  background: #f1f1f1;
}

.main-wrapper {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 30px;
}

.main-wrapper.is-delete-mode .check-button {
  display: inline-block;
}

.main-wrapper.is-delete-mode:hover .delete-button {
  display: none;
}

.main-wrapper.is-delete-mode .is-checked .bookmark-link {
  text-decoration: line-through;
}

.main-wrapper.is-delete-mode .is-checked .check-button {
  color: #000;
}

.main-wrapper.is-delete-mode .is-checked .folding-button {
  text-decoration: line-through;
}

.archive-heading {
  padding: 30px 0 0 30px;
}

.archive-heading i {
  margin-right: 5px;
}

.folder-bookmark {
  background: #fff;
  position: relative;
  margin: 10px 60px 0 60px;
  padding: 38px 10px 5px 12px;
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 5px;
}

.folder-bookmark.is-close {
  padding: 40px 10px 0 12px;
  height: 0;
}

.folder-bookmark.is-close > .bookmark-list {
  display: none;
}

.bookmark-list {
  padding-left: 25px;
}

.bookmark-item {
  position: relative;
}

.bookmark-item:hover > .delete-button {
  display: inline-block;
}

.bookmark-item:hover > .bookmark-link {
  background: linear-gradient(#fff, #f1f3f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.check-button, .delete-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  font-weight: bold;
  color: #fff;
  display: none;
  cursor: pointer;
}

.delete-button {
  background: tomato;
}

.check-button {
  background: #e7e8e9;
}

.bookmark-link {
  padding: 4px 40px 4px 10px;
  display: block;
  width: 100%;
  height: 100%;
}

.bookmark-link .icon-img {
  margin-right: 8px;
  width: 1.5rem;
}

.bookmark-link:focus {
  background: linear-gradient(#fff, #f1f3f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.bookmark-link:focus + .delete-button {
  display: inline-block;
}

.folding-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.folding-wrapper:hover > .delete-button {
  display: inline-block;
}

.folding-wrapper:hover > .folding-button {
  background: linear-gradient(#fff, #f1f3f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.folding-wrapper > .delete-button, .folding-wrapper > .check-button {
  right: 20px;
}

.folding-button {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  background: none;
  padding: 10px 20px;
  font-size: 1.7rem;
  cursor: pointer;
}

.folding-button i {
  margin-right: 8px;
}

.info-container {
  position: absolute;
  width: 280px;
  top: -50px;
  left: 0;
}

.info-container p {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 5px;
}

.info-container .error-message-box i {
  color: red;
}

.info-container .info-message-box i {
  color: blue;
}

.panel-wrapper {
  position: relative;
  float: right;
  background: #dce0e2;
  width: 300px;
  height: 100%;
}

.panel-list {
  position: relative;
  height: 100%;
}

.panel-list .panel-list-item {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.panel-list .panel-list-item.active {
  display: block;
}

.panel-heading {
  font-size: 18px;
  padding: 10px 0 10px 15px;
  background: #cfd9df;
}

.archive-form, .folder-form, .bookmark-form, .delete-form {
  padding: 15px 10px;
}

.archive-select, .archive-name-input, .folder-name-input {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  width: calc(100% - 45px);
  padding: 2px;
}

.archive-del-btn, .archive-add-btn, .folder-add-btn {
  display: inline-block;
  padding: 2px;
  width: 40px;
}

.panel-sub-heading {
  font-weight: normal;
  padding-bottom: 3px;
  font-size: 1.6rem;
}

.archive-add-wrapper {
  padding-top: 15px;
}

.folder-select, .bookmark-name-input, .bookmark-url-input {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 2px;
  margin-bottom: 10px;
}

.bookmark-form label {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 3px;
}

.bookmark-form .bookmark-add-btn, .bookmark-form .bookmark-reset-btn {
  padding: 2px 4px;
}

.delete-selected-button, .delete-cancel-button {
  padding: 2px 4px;
}

.delete-info {
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 15px;
}

/*# sourceMappingURL=map/style.css.map */