// $header-color: rgb(54, 57, 65);
$header-color: rgb(80, 82, 88);
$header-height: $leading * 3;
$menu-icon-size: 13px;

.container {
    @extend %clear-fix;
    width: 100%;
    height: 100vh;
}

.header-wrapper {
    // position: relative;
    text-align: center;
    height: $header-height;
    background: $header-color;
}

.menu-list {
    @extend %clear-fix;
    // position: absolute;
    display: inline-block;
    // background: blue;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.menu-list-item {
    float: left;
    a {
        font-size: $menu-icon-size;
        display: block;
        width: $leading * 4;
        height: $header-height;
        color: #fff;
        font-weight: normal;
        cursor: pointer;
        i {
            position: relative;
            width: 100%;
            height: 100%;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover > i {
            transform: scale(1.2);
        }
    }
    // a {
    //     display: block;
    //     width: $leading * 4;
    //     height: 0;
    //     padding-top: $header-height;
    //     overflow: hidden;
    //     &:hover {
    //         transform: scale(1.2);
    //         cursor: pointer;
    //     }
    // }
    // #archive {
    //     background: url('../images/archive.svg') no-repeat;
    //     background-size: auto (1.2 * $leading);
    //     background-position: 50%;
    // }
    // #folder {
    //     background: url('../images/folder.svg') no-repeat;
    //     background-size: auto (1.5 * $leading);
    //     background-position: 50%;
    // }
    // #bookmark {
    //     background: url('../images/bookmark1.svg') no-repeat;
    //     background-size: auto (1.2 * $leading);
    //     background-position: 50%;
    // }
    // #delete {
    //     background: url('../images/cancel2.svg') no-repeat;
    //     background-size: auto (1.2 * $leading);
    //     background-position: 50%;
    // }
    // #undo {
    //     background: url('../images/undo1.svg') no-repeat;
    //     background-size: auto (1.2 * $leading);
    //     background-position: 50%;
    // }
    // #redo {
    //     background: url('../images/redo1.svg') no-repeat;
    //     background-size: auto (1.2 * $leading);
    //     background-position: 50%;
    // }
}