// $panel-bg-color: rgb(240, 242, 243);
// $panel-bg-color: rgba(57, 61, 70, 0.8);
$panel-bg-color: rgb(220, 224, 226);

.panel-wrapper {
    float: right;
    background: $panel-bg-color;
    width: $panel-width;
    height: 100%;
}

.panel-list {
    position: relative;
    height: 100%;
    .panel-list-item {
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .panel-list-item.active {
        display: block;
    }
}

.folder-select {
    width: 80%;
}