// @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

$base-bg-color: rgb(241,241,241);

$base-font-family: "Nanum Gothic", sans-serif;

$base-font-size: 14px;

$base-line-height: 1.5;

$leading: $base-font-size * $base-line-height;

$panel-width: 300px;
